*{
    margin: 0px;
    padding:  0px;
}
li
{
    list-style: none;
}
#div
{
    width: 950px;
    height: auto;
    margin: 20px auto;
}
ul
{
    width: 250px;
    float: left;
}

*{
    margin: 0px;
    padding:  0px;
}
li
{
    list-style: none;
}
#div
{
    width: 950px;
    height: auto;
    margin: 20px auto;
}
ul
{
    width: 250px;
    float: left;
}

*{
    margin: 0px;
    padding:  0px;
}
li
{
    list-style: none;
}
#div
{
    width: 950px;
    height: auto;
    margin: 20px auto;
}
ul
{
    width: 250px;
    float: left;
}
